                                                                  DATA TOOLKIT
                                                                  ASSIGNMENT
                                                               PRACTICAL QUESTIONS

1. Create a 3x3 NumPy array with random integers between 1 and 100. Then, interchange its rows and columns.

In [1]:
import numpy as np

# Create a 3x3 array with random integers from 1 to 100
arr = np.random.randint(1, 101, size=(3, 3))
print("Original Array:\n", arr)

# Interchange rows and columns (transpose the array)
transposed_arr = arr.T
print("Transposed Array:\n", transposed_arr)

Original Array:
 [[17 28 63]
 [33 79 41]
 [48 50 73]]
Transposed Array:
 [[17 33 48]
 [28 79 50]
 [63 41 73]]

2. Generate a 1D NumPy array with 10 elements. Reshape it into a 2x5 array, then into a 5x2 array.

In [2]:
# Create a 1D array with 10 elements
arr = np.arange(1, 11)
print("1D Array:\n", arr)

# Reshape it to 2x5
arr_2x5 = arr.reshape(2, 5)
print("2x5 Array:\n", arr_2x5)

# Reshape it to 5x2
arr_5x2 = arr.reshape(5, 2)
print("5x2 Array:\n", arr_5x2)

1D Array:
 [ 1  2  3  4  5  6  7  8  9 10]
2x5 Array:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
5x2 Array:
 [[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]

3. Create a 4x4 NumPy array with random float values. Add a border of zeros around it, resulting in a 6x6 array.

In [3]:
# Create a 4x4 array with random float values
arr = np.random.rand(4, 4)
print("4x4 Array:\n", arr)

# Add a border of zeros
arr_with_border = np.pad(arr, pad_width=1, mode='constant', constant_values=0)
print("6x6 Array with Border:\n", arr_with_border)

4x4 Array:
 [[0.47665959 0.0414691  0.36665495 0.40819273]
 [0.26006241 0.64712852 0.00836361 0.19908994]
 [0.32786447 0.00957605 0.7304185  0.95909599]
 [0.68844064 0.60241346 0.91517    0.23760039]]
6x6 Array with Border:
 [[0.         0.         0.         0.         0.         0.        ]
 [0.         0.47665959 0.0414691  0.36665495 0.40819273 0.        ]
 [0.         0.26006241 0.64712852 0.00836361 0.19908994 0.        ]
 [0.         0.32786447 0.00957605 0.7304185  0.95909599 0.        ]
 [0.         0.68844064 0.60241346 0.91517    0.23760039 0.        ]
 [0.         0.         0.         0.         0.         0.        ]]

4. Using NumPy, create an array of integers from 10 to 60 with a step of 5.

In [4]:
# Create an array from 10 to 60 with a step of 5
arr = np.arange(10, 61, 5)
print("Array from 10 to 60 with step of 5:\n", arr)

Array from 10 to 60 with step of 5:
 [10 15 20 25 30 35 40 45 50 55 60]

5. Create a NumPy array of strings ['python', 'numpy', 'pandas']. Apply different case transformations (uppercase, lowercase, title case, etc.) to each element.

In [5]:
# Create an array of strings
arr = np.array(['python', 'numpy', 'pandas'])

# Apply uppercase, lowercase, and title case transformations
uppercase = np.char.upper(arr)
lowercase = np.char.lower(arr)
titlecase = np.char.title(arr)

print("Uppercase:\n", uppercase)
print("Lowercase:\n", lowercase)
print("Title Case:\n", titlecase)

Uppercase:
 ['PYTHON' 'NUMPY' 'PANDAS']
Lowercase:
 ['python' 'numpy' 'pandas']
Title Case:
 ['Python' 'Numpy' 'Pandas']

6. Generate a NumPy array of words. Insert a space between each character of every word in the array.

In [6]:
# Create an array of words
arr = np.array(['apple', 'banana', 'cherry'])

# Insert a space between each character
spaced_arr = np.char.join(" ", arr)
print("Array with spaced characters:\n", spaced_arr)

Array with spaced characters:
 ['a p p l e' 'b a n a n a' 'c h e r r y']

7. Create two 2D NumPy arrays and perform element-wise addition, subtraction, multiplication, and division.

In [7]:
# Create two 2D arrays
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])

# Perform element-wise operations
add = arr1 + arr2
subtract = arr1 - arr2
multiply = arr1 * arr2
divide = arr1 / arr2

print("Addition:\n", add)
print("Subtraction:\n", subtract)
print("Multiplication:\n", multiply)
print("Division:\n", divide)

Addition:
 [[ 6  8]
 [10 12]]
Subtraction:
 [[-4 -4]
 [-4 -4]]
Multiplication:
 [[ 5 12]
 [21 32]]
Division:
 [[0.2        0.33333333]
 [0.42857143 0.5       ]]

8. Use NumPy to create a 5x5 identity matrix, then extract its diagonal elements.

In [8]:
# Create a 5x5 identity matrix
identity_matrix = np.eye(5)
print("5x5 Identity Matrix:\n", identity_matrix)

# Extract the diagonal elements
diagonal_elements = np.diag(identity_matrix)
print("Diagonal Elements:\n", diagonal_elements)

5x5 Identity Matrix:
 [[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]
Diagonal Elements:
 [1. 1. 1. 1. 1.]

9. Generate a NumPy array of 100 random integers between 0 and 1000. Find and display all prime numbers in this array.

In [9]:
from sympy import isprime

# Generate an array of 100 random integers between 0 and 1000
arr = np.random.randint(0, 1001, 100)
print("Array:\n", arr)

# Find and display all prime numbers in the array
primes = arr[np.vectorize(isprime)(arr)]
print("Prime Numbers:\n", primes)

Array:
 [438 949  79 296 349 992 422 621 571 459 502 725 206  43   2 506 917  33
 103 325 567 967  89 932 758 170 830 687 806 427 933 705  54 279 954 641
 704 421 697 279  16  26 317 709 557 122  27 288 632  80 167 878 535   8
 406 337 223 273 238 340 114 424 166 218 273 199  10 722 647  51 418  52
 313 421 486  73 820 540 552 269 679 205 555 765 841   8 960 179 313 560
 771 444 172 450 606 803  16 660 461 286]
Prime Numbers:
 [ 79 349 571  43   2 103 967  89 641 421 317 709 557 167 337 223 199 647
 313 421  73 269 179 313 461]

10. Create a NumPy array representing daily temperatures for a month. Calculate and display the weekly averages.

In [11]:
# Create an array with 30 random daily temperatures
temperatures = np.random.randint(20, 35, 30)
print("Daily Temperatures:\n", temperatures)

# Reshape it into a compatible shape, for example, 5 weeks of 6 days (5 * 6 = 30)
weekly_temperatures = temperatures.reshape(5, 6)
# or  6 weeks of 5 days (6 * 5 = 30)
# weekly_temperatures = temperatures.reshape(6, 5)

# Calculate weekly averages
weekly_averages = np.mean(weekly_temperatures, axis=1)
print("Weekly Averages:\n", weekly_averages)

Daily Temperatures:
 [32 24 25 31 27 32 26 33 20 20 33 25 29 20 22 32 27 29 23 28 33 30 20 24
 30 30 22 28 28 33]
Weekly Averages:
 [28.5        26.16666667 26.5        26.33333333 28.5       ]